body {
  font-family: ModernDOS9x16, monospace;
}

canvas {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

@font-face {
  font-family: 'AppleII';
  src: url('/kroz/AppleII.ttf');
}

@font-face {
  font-family: 'ModernDOS9x16';
  src: url('/kroz/ModernDOS9x16.ttf');
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#app,
canvas {
  margin: 0 auto;
  text-align: center;
}

canvas {
  width: 100%;
}
