@font-face {
  font-family: 'IBM_VGA';
  src: url('/kroz/WebPlus_IBM_VGA_8x14.woff');
}

body {
  font-family: IBM_VGA, monospace;
}

.fork-me {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

canvas {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#app {
  width: calc(100vw - 60px);
  min-height: calc(var(--w) * 0.6);
}

#app,
#app canvas {
  margin: 0 auto;
  text-align: center;
}

#app canvas {
  margin-top: 30px;
  width: 100%;
}

#instructions {
  position: relative;
  margin: 20px auto;
  width: 70%;

  & ul {
    list-style-type: none;
  }
}

.lil-gui.root {
  position: absolute;
  top: -20px;
  right: 0;
}
